<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrom=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
</head>

<script>

    function myFunction()
    {
        var passwd0 = document.getElementById("inputPassword0").value;
        var passwd1 = document.getElementById("inputPassword1").value;
        var passwd2 = document.getElementById("inputPassword2").value;
        var problem = document.getElementById("problem").value;
        var answer = document.getElementById("answer").value;
        var number=localStorage.getItem("keepnumber");
        var checkdata={'Number':number, 'Password0':passwd0};
        if(passwd0==""||passwd1==""||passwd2==""||problem==""||answer==""){//输入为空
            alert("输入不能为空！");
        }
        else {
            $.ajax({
                url: "/changepassword1",
                type: 'POST',
                data: checkdata,
                success: function (data) {
                    if (data == 'false')
                        alert("原始密码错误");
                    else if (data == 'true') {
                        if(passwd1 != passwd2)//密码不匹配
                        {
                            alert("密码不一致，请重新输入");
                            document.getElementById("inputPassword1").value = "";
                            document.getElementById("inputPassword2").value = "";
                        }
                        else{
                            var mydata={'Number':number,'Password1':passwd1,'Problem':problem, 'Answer':answer};
                            $.ajax({
                                url:"/changepassword2",
                                type:'POST',
                                data:mydata,
                                success: function (data) {
                                    if(data=='false')
                                        alert("修改密码失败");
                                    else if(data=='true'){
                                        alert("修改密码成功,请重新登陆");
                                        window.location.href="login.html";
                                    }
                                }.bind(this),
                                error: function () {
                                    alert('获取数据失败');
                                }
                            })
                        }
                    }
                }.bind(this),
                error: function () {
                    alert('获取数据失败');
                }
            })
        }
    }
    function myFunction1() {
        window.history.go(-1);
    }
    function myFunction2() {
        window.location.href="lookpassword.html";
    }
</script>
<body background="../static/3.jpg" style="background-repeat:no-repeat">

<div class="container" style="margin-top: 80px;margin-left: 600px">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="form-signin" target="submitFrame">
                <h1 class="form-signin-heading" style="color: #00bbff">修改密码</h1>
                </br>
                <label for="inputPassword0" style="color: #00bbff">原密码</label>
                <input type="password" id="inputPassword0" class="form-control" placeholder="请输入原密码" required>
                </br>
                <label for="inputPassword1" style="color: #00bbff">新密码</label>
                <input type="password" id="inputPassword1" class="form-control" placeholder="请输入新密码" required>
                </br>
                <label for="inputPassword2" style="color: #00bbff">确认密码</label>
                <input type="password" id="inputPassword2" class="form-control" placeholder="确认新密码" required>
                </br>
                <label for="problem" style="color: #00bbff">输入验证问题</label>
                <input type="text" id="problem" class="form-control" placeholder="请输入验证问题" required autofocus>
                </br>
                <label for="answer" style="color: #00bbff">答案</label>
                <input type="text" id="answer" class="form-control" placeholder="请输入答案" required autofocus><br>
                <div>
                    <button onclick="myFunction()" type="submit" class="btn btn-primary" id="btn-login1">提交</button>
                    <button onclick="myFunction1()" style="margin-left: 80px" type="submit" class="btn btn-primary" id="btn-login2">返回</button>
                    <button onclick="myFunction2()" style="margin-left: 55px" type="submit" class="btn btn-primary" id="btn-login3">找回密码</button>
                </div>
            </div>
            <iframe style="display: none;" name="submitFrame" src="about:blank"></iframe>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
<script src="../static/jquery.min.js"></script>
</body>
</html>