<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrom=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-repeat:no-repeat;background-color:#e6e6e6;">
      <div style="margin-left: 400px;margin-top: 300px;font-size: 25px">
          <a >用户的初始密码为身份证后六位,如果你已修改初始密码，请点此</a><a href="getpassword.html">找回密码</a>
          </br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a >若没有修改初始密码，请点此</a><a href="login.html">返回登陆</a>
      </div>
</body>
</html>