<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrom=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <style>
        body,ul,li,a
        {
            padding: 0;
            margin: 0;
        }
        body
        {
            margin-top: 20px;
            background-color:#e6e6e6;
            color: #fff;
        }
        .commonDiv{
            border:3px solid #ffc107; /*上下左右的边框线样式相同*/
            margin-left:80px;
            margin-top:10px;
            width: 1200px;
            height: 460px;
            border-radius: 20px;
        }
        table{
            table-layout: fixed;
            border-collapse: collapse;
            width: 100%;
            margin-left: 20px;
            margin-top: 20px;
            height: 400px;
            width: 1200px;
            word-break:break-all;
        }
    </style>
</head>
<script>
    var number=localStorage.getItem("keepnumber");
    function s() {
        document.getElementById("Span").innerText =number;
        getstudentdata();
    }
    function getstudentdata() {
        var mydata={'Number':number};
        $.ajax({
            url:"/studentlookmyinformation",
            type:'POST',
            data:mydata,
            success: function (data) {
                if(data!='false'){
                    document.getElementById('table1').rows[0].cells[1].innerHTML=data['student_number'];
                    document.getElementById('table1').rows[1].cells[1].innerHTML=data['student_name'];
                    document.getElementById('table1').rows[2].cells[1].innerHTML=data['student_sex'];
                    document.getElementById('table1').rows[3].cells[1].innerHTML=data['student_birsday'];
                    document.getElementById('table1').rows[4].cells[1].innerHTML=data['student_identity'];
                    document.getElementById('table1').rows[5].cells[1].innerHTML=data['student_departments'];
                    document.getElementById('table1').rows[6].cells[1].innerHTML=data['student_job'];
                    document.getElementById('table1').rows[7].cells[1].innerHTML=data['class_nature'];
                    if(data['student_xiuxue']=='1')
                        document.getElementById('table1').rows[8].cells[1].innerHTML='是';
                    else
                        document.getElementById('table1').rows[8].cells[1].innerHTML='否';
                    document.getElementById('table1').rows[0].cells[3].innerHTML=data['student_class_id'];
                    document.getElementById('table1').rows[1].cells[3].innerHTML=data['student_location'];
                    document.getElementById('table1').rows[2].cells[3].innerHTML=data['student_phone'];
                    document.getElementById('table1').rows[3].cells[3].innerHTML=data['student_national'];
                    document.getElementById('table1').rows[4].cells[3].innerHTML=data['student_school_time'];
                    document.getElementById('table1').rows[5].cells[3].innerHTML=data['student_idnumber'];
                    document.getElementById('table1').rows[6].cells[3].innerHTML=data['student_behavior'];
                    if(data['student_liuji']=='1')
                        document.getElementById('table1').rows[7].cells[3].innerHTML='是';
                    else
                        document.getElementById('table1').rows[7].cells[3].innerHTML='否';
                }
                else{
                    alert("还没有信息呢，您可以联系教务处提交信息");
                }
            }.bind(this),
            error: function () {
                alert('获取数据失败');
            }
        })
    }
</script>

<body onload="s()">
<label style="margin-left: 160px;margin-top: 0px;font-size: 20px; color: #080808">学生:</label>&nbsp;&nbsp;&nbsp;&nbsp;<span id="Span" style="font-size: 20px; color: #080808"></span>
<!--设计上下左右边框-->
<div class="commonDiv">
    <table id="table1">
        <tr style="font-size: 20px;color: #080808">
            <th style="width: 150px">学号:</th>
            <td style="width: 300px"></td>
            <th style="width: 100px">班级:</th>
            <td style="width: 500px"></td>
        </tr>
        <tr style="font-size: 20px;color: #080808">
            <th style="width: 150px">姓名:</th>
            <td style="width: 300px"></td>
            <th style="width: 100px">家庭住址:</th>
            <td style="width: 500px"></td>
        </tr>
        <tr style="font-size: 20px;color: #080808">
            <th style="width: 150px">性别:</th>
            <td style="width: 300px"></td>
            <th style="width: 100px">联系电话:</th>
            <td style="width: 500px"></td>
        </tr>
        <tr style="font-size: 20px;color: #080808">
            <th style="width: 150px">出生日期:</th>
            <td style="width: 300px"></td>
            <th style="width: 100px">民族:</th>
            <td style="width: 500px"></td>
        </tr>
        <tr style="font-size: 20px;color: #080808">
            <th style="width: 150px">身份:</th>
            <td style="width: 300px"></td>
            <th style="width: 100px">入学年份:</th>
            <td style="width: 500px"></td>
        </tr>
        <tr style="font-size: 20px;color: #080808">
            <th style="width: 150px">院系:</th>
            <td style="width: 300px"></td>
            <th style="width: 100px">身份证号:</th>
            <td style="width: 500px"></td>
        </tr>
        <tr style="font-size: 20px;color: #080808">
            <th style="width: 150px">专业:</th>
            <td style="width: 300px"></td>
            <th style="width: 100px">个人行为:</th>
            <td style="width: 500px"></td>
        </tr>
        <tr style="font-size: 20px;color: #080808">
            <th style="width: 150px">班级荣誉:</th>
            <td style="width: 300px"></td>
            <th style="width: 150px">是否留级:</th>
            <td style="width: 300px"></td>
        </tr>
        <tr style="font-size: 20px;color: #080808">
            <th style="width: 150px">是否休学:</th>
            <td style="width: 300px"></td>
        </tr>
    </table>
</div>
<div style="margin-left: 900px;margin-top: 40px">
    <a href="#">若个人信息有误可联系管理员修改信息</a>
</div>
<script type="text/javascript" src="../static/jquery.min.js"></script>
<script type="text/javascript" src="../static/bootstrap.min.js"></script>
</body>
</html>